* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito Sans", sans-serif;
  /* font-size: 16px; */
}

/* header  */
header#shopping {
  background-color: #b9f3e4;
}

#shopping a {
  color: white;
  text-decoration: none;
}

#shopping li {
  padding: 0 10px;
  list-style: none;
}

#shopping .logo {
  font-size: 26px;
}

#shopping .navbar-toggler-icon {
  color: white;
}

/* products */
.product .card-text {
  height: 150px;
}

.product .price {
  color: #ff0133;
  font-weight: 700;
}

.product .card-title {
  font-weight: 700;
}

@media screen and (min-width: 576px) {
  #shopping .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}

/* Reponsive */
/* carousel  */
@media screen and (max-width: 992px) {
  .carousel {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    height: 250px;
  }
}

@media screen and (max-width: 576px) {
  .carousel {
    height: 150px;
  }
}
